<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- 组件化的优点：复用 好维护  （组件级更新） 组件的三大特性 属性 样式 插槽 webcomponent -->
    <div id="app">
        <my-button></my-button>
        <my-button></my-button>
        <my-button></my-button>
    </div>
    <script src="../dist/vue.js"></script>
    <!-- 全局组件 （不用在组件内部注册可以直接使用） 局部组件 （我们定义后 只能在当前组件中使用）-->

    <!-- Vue.options.components , 当实例化某个组件的时候 可以把全局的和自己的合并起来 -->
    <!-- 全局组件和局部组件重名用谁的  xxx.__proto__ -->
    <script>
        // 组件的父子关系  new Vue(父亲)  my-button(儿子)  类的继承
        // Vue.component 注册一个全局组件？ Vue.extend 返回一个子类的构造函数
        Vue.component('my-button', { // 全局的会被定义在实例的 vm.__proto__
            data() {
                return { a: 1 }
            },
            template: '<button>我的按钮 {{a}}</button>'
        })
        let vm = new Vue({
            beforeCreate() {
                console.log('父')
            },
            components: {
                'my-button': { // 局部的就直接定义在自己的身上
                    data() {
                        return { b: 2 }
                    },
                    beforeCreate() {
                        console.log('子')
                    },
                    mounted() {
                        console.log('子完成')
                    },
                    template: '<button>内部按钮 {{b}}</button>'
                }
            },
            mounted() {
                console.log('父完成')
            },
            el: '#app',
            data: {
                name: 'zf'
            }
        })
        setTimeout(() => {
            vm.name = 'jw';
        }, 1000);

        // Vue.component 在组件中声明一个components属性  内部会把声明的对象用Vue.extend包裹  
        // 内部在newVue的时候 会将全局的和自己的选项进行合并，但是合并的时候需要产生父子关系 (1)在定义组件，等会渲染的时候可以通过vm.$options.components 拿到刚才声明的属性

        // 1.需要产生虚拟节点  组件的虚拟节点上面 属性中包含着初始化的钩子函数 init 同时组件的虚拟节点上拥有一个componentOptions属性 Ctor

        // 2.渲染真实节点 就是new Ctor 创在子类的实例 ， 去走vue的初始化流程，初始化完毕后 就会返回一个实例实例上包含着真实的dom元素，我们将元素插入到页面上

        // 3.完成渲染逻辑


        // diff算法 组件渲染流程  5分钟  计算属性的实现



    </script>
</body>

</html>